pethsop.dtd

<!ELEMENT dog_owners (dog_owner+)>
<!ELEMENT dog_owner (initial,surname,address,postcode,dog)>
<!ATTLIST dog_owner id NMTOKEN #REQUIRED>
<!ELEMENT initial (#PCDATA)>
<!ELEMENT surname (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT postcode (#PCDATA)>
<!ELEMENT dog (dog_name,gender,date_of_birth,breed)>
<!ATTLIST dog id NMTOKEN #REQUIRED>
<!ELEMENT dog_name (#PCDATA)>
<!ELEMENT gender (#PCDATA)>
<!ELEMENT date_of_birth (#PCDATA)>
<!ELEMENT breed (#PCDATA)>